<div class="row">
<div class="large-8 columns">
	<%if @wiki.private?%>
    <small>This is super secret</small>
	<% end %> 
	<h1><b><%= @wiki.title %></b></h1>
	<small>
      <%= image_tag(@wiki.user.avatar.tiny.url) if @wiki.user.avatar? %>
      submitted <%= time_ago_in_words(@wiki.created_at) %> ago by 
      <%= @wiki.user.name %>
    </small> 

    <p><%= image_tag(@wiki.image.url) if @wiki.image? %></p>
	<p><%= markdown @wiki.body %></p>
	<% if can? :edit, @wiki %>
	<%= link_to "Edit", edit_wiki_path(@wiki), class: 'small button' %>
    <% end %>
    <%if can? :delete, @wiki %>
    <%= link_to "Delete", @wiki, method: :delete, class: 'small alert button', confirm: 'Are you sure you want to delete wiki' %>
    <% end %>
    <% if current_user.role == 'premium' %>
    <% if can? :update, @wiki %>
    <%= form_for @wiki do %>
    <table>
      <tbody>
      <tr>
         <th>Name</th>
         <th>Email</th>
         <th>Give Access</th>
      </tr>
     </tbody>
     <tbody>
     
     <% @users.each do |u| %>
      <tr>
      <td><%= u.name %></td>
      <td><%= u.email %></td>
      <td><%=check_box_tag :user_ids, u.id, @wiki.users.include?(u), name: 'wiki[user_ids][]' %></td>
         </tr>

     <% end %>
     
     </tbody>

    </table>
    
   <%= submit_tag "Save",  class: 'small button' %>
    <% end %>
    <% end %>
    <% end %>

</div>
</div>
