<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag  "application" %>
    <%= javascript_include_tag "https://js.stripe.com/v2/","vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  </head>

  <body>
  
  <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar data-options="sticky_on: large">
          <ul class="title-area">
           <li class="name">
             <h1><b><%= link_to "WikiSass", root_path %></b></h1>
           </li>
          </ul>
          <section class="top-bar-section">
            <ul class="left">
             <li><%= link_to "About", about_path %></li>
             <li><%=  link_to "Wikis", wikis_path %></li>
            </ul>
            <ul class="right">
            <% if current_user %>
            <li><%= image_tag(current_user.avatar.medium.url) if current_user.avatar?%>
               
            </li>
            <li class="active">
            <%= link_to "Hello #{current_user.email}", edit_user_registration_path %></li>
             <li><%= link_to current_user do%>
             <i class = "fi-torso"></i>
             <% end %>
             </li>
             <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Sign In", new_user_session_path, class: 'button'%></li>
            <li><%= link_to "Sign Up", new_user_registration_path, class: 'button' %></li>


            <% end %>
            </ul>
          </section>
        </nav>
       </div>

       <div class="row">
        <div class="large-12 columns">

      <div class="row">
      <div class="large-12 columns flash" >
     <%= display_flash_messages %>
   </div>
 </div>
      
   
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </div>
</div>
</body>
</html>